html{
    scroll-behavior: smooth !important;
    width: 100%;
}

html::-webkit-scrollbar{
    display: none;

}

*{
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', 'sans-serif';
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

#header{
    max-width: 100%;
    height: 3.125em;
    padding: 0.625em;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    overflow-x: hidden;

}

#header-list a{
    text-decoration: none;
    color: #fff;    
    margin: 0.625em;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#landing-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

#landing-title{
    text-align: center;
    margin-bottom: 6.25em;
    padding: 0.625em;
}

#landing-title h1{
    font-size: 3.75em;
}
#landing-title h2{
    font-size: 1.875em;
    font-weight: 300;
}

#services{
    color: #000;
    flex-direction: column;
    padding: 2.5em;
    padding-bottom: 3.125em;

}

#service-list{
    flex-direction: row;
    gap: 3.125em;
    padding-top: 1.875em;
}

.service-card{
    width: 30%;   
    height: 100%;
    padding: 1.25em;
    border: 0.063em solid rgba(0, 0, 0, 0.1);
    border-radius: 0.625em;
    flex-direction: column;
    text-align: center;
    gap: 0.625em;

}
.service-card img{
    width: 70%;
    height: 70%;
    border-radius: 0.625em;
    object-fit: fill;
    overflow: hidden;
}

.service-card:hover{
    transform: scale(1.2);
}


#about{
    overflow-x: hidden;
    color: #000;
    background-color: #f0f1ff;
    padding: 3.125em;
    text-align: center;
    flex-direction: column;

}
#about-p{
    width: 50%;
    padding: 0.625em;
    font-size: 1.125em;
}

#testimonials{
    padding: 3.125em;
    color: #000;
    flex-direction: column;

}

#testimony-list{
    padding: 1.25em;
    flex-direction: row;
    gap: 3.125em;
}

.testimony-card{
    width: 30%;   
    height: 100%;
    padding: 1.25em;
    border: 0.063em solid rgba(0, 0, 0, 0.1);
    border-radius: 0.625em;
    flex-direction: column;
    text-align: center;
    gap: 0.625em;
}

.testimony-card h4{    
    font-size: 1em;
    font-weight: 500;
}
.testimony-card p{    
    font-size: 0.875em;
    font-weight: 400;
}

#footer{
    background-color: #000;
    color: #fff;
    padding: 3.125em;
    flex-direction: column;
    text-align: center;
    gap: 0.625em;
}

.contact-info {
    display: block;
    text-align: center;
    font-weight: 600;
}

#menu-btn{
    display: none;
}

#menu-btn i{
    color: white;
    font-size: 2em;
}

#menu-modal{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 30%;
    border-radius: 0.625em;
    background-color: rgba(0, 0, 0, 0.8);   
    color: #fff;
    margin-top: 80px;
    margin-right: 10px;
    top: 0;
    right: 0;
    z-index: 99;
}
#header-modal-list{
    flex-direction: column;
}

#header-modal-list a{
    text-decoration: none;
    color: #fff;
    gap: 10px;
    margin: 10px;
    font-size: 18px;
}
#menu-modal i{
    color: #fff;
}

#menu-btn button{
    background-color: transparent;
    border: none;
}
@media only screen and (max-width : 650px) {
    #menu-btn{
        display: block;
    }

    #header-list{
        display: none;
    }

    #about-p{
        width: 90%;
    }
    #service-list,  #testimony-list{
        gap: 1.875em;
        flex-direction: column;
    }

    .service-card,  .testimony-card{
        width: 100%;
        border-radius: 0.313em;
    }

    #services img{
        width: 50%;
        height: 50%;
    }
    #testimonials h1{
        font-size: 1.563em;
    }
}
